[package]
name = "noctilucent"
version = "0.2.0"
edition = "2021"
description = "Turn AWS CloudFormation templates into AWS CDK applications"
license = "MIT"

authors = [
  "Sean Tyler Myers <seanmyers0608@gmail.com>",
  "The noctilucent contributors",
]

repository = "https://github.com/iph/noctilucent.git"
homepage = "https://github.com/iph/noctilucent#readme"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["typescript"]
typescript = []
golang = []

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
anyhow = "^1.0.71"
base64 = "^0.21.2"
clap = { version = "^4.3.3", features = ["cargo"] }
indexmap = { version = "^1.9.3", features = ["serde"] }
nom = "^7.0.0"
numberkit = "^0.1.0"
phf = "^0.11.1"
serde = { version = "^1.0.164", features = ["derive"] }
serde-enum-str = "^0.3.2"
serde_with = "^3.0.0"
serde_yaml = "^0.9.21"
topological-sort = "^0.2.2"
voca_rs = "^1.14.0"
wasm-bindgen = "^0.2.86"


[build-dependencies]
phf_codegen = "^0.11.1"
serde = { version = "^1.0.164", features = ["derive"] }
serde_json = "^1.0.97"
serde_with = "^3.0.0"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
