[package]
name = "noctilucent"
version = "0.2.0"
edition = "2018"
description = "Library for parsing and reconstructing cloudformation json into cdk"
license = "MIT"

repository = "https://github.com/iph/noctilucent.git"
homepage = "https://github.com/iph/noctilucent#readme"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.70"
clap = "4.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_with = "2.0.0"
numberkit = "0.1.0"
nom = "7.0.0"
voca_rs = "1.14.0"
topological-sort = "0.2.2"

[profile.release]
codegen-units = 1
opt-level = 3
lto = true
