[package]
name = "cdk-from-cfn"
version = "0.137.0"
edition = "2021"
rust-version = "1.64"
description = "Turn AWS CloudFormation templates into AWS CDK applications"
license = "MIT OR Apache-2.0"

repository = "https://github.com/cdklabs/cdk-from-cfn"
homepage = "https://github.com/cdklabs/cdk-from-cfn#readme"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["golang", "java", "typescript", "python", "csharp"]
# Language support
golang = []
java = []
typescript = []
csharp = []
python = []

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
anyhow = "^1.0.80"
base64 = "^0.21.7"
clap = { version = "^4.5.1", features = ["cargo"] }
indexmap = { version = "^2.2.3", features = ["serde"] }
nom = "^7.1.3"
numberkit = "^0.1.0"
phf = { version = "^0.11.2", features = ["macros"] }
rustc-hash = { version = "1.1.0", optional = true }
serde = { version = "^1.0.197", features = ["derive"] }
serde-enum-str = "^0.4.0"
serde_with = "^3.6.1"
serde_yaml = "^0.9.32"
topological-sort = "^0.2.2"
voca_rs = "^1.15.2"
wasm-bindgen = "^0.2.91"

[dev-dependencies]
aws-config = "^1.1.6"
aws-sdk-cloudformation = "^1.16.0"
tokio = { version = "1", features = ["full"] }
walkdir = "2.4.0"
zip = "0.6.6"

[build-dependencies]
indexmap = "^2.2.3"
phf = { version = "^0.11.2", features = ["macros"] }
phf_codegen = "^0.11.2"
rustc-hash = { version = "1.1.0", optional = true }
serde = { version = "^1.0.197", features = ["derive"] }
serde-enum-str = "^0.4.0"
serde_json = "^1.0.114"
serde_with = "^3.6.1"
voca_rs = "^1.15.2"
walkdir = "2.4.0"
zip = "0.6.6"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
