[package]
name = "cdk-from-cfn"
version = "0.122.0"
edition = "2021"
rust-version = "1.64"
description = "Turn AWS CloudFormation templates into AWS CDK applications"
license = "MIT OR Apache-2.0"

repository = "https://github.com/cdklabs/cdk-from-cfn"
homepage = "https://github.com/cdklabs/cdk-from-cfn#readme"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["golang", "java", "typescript", "python", "csharp"]
golang = []
java = []
typescript = []

# Future plans / in progress
csharp = []
python = []

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
anyhow = "^1.0.79"
base64 = "^0.21.7"
clap = { version = "^4.4.18", features = ["cargo"] }
indexmap = { version = "^2.1.0", features = ["serde"] }
nom = "^7.1.3"
numberkit = "^0.1.0"
phf = "^0.11.2"
serde = { version = "^1.0.195", features = ["derive"] }
serde-enum-str = "^0.4.0"
serde_with = "^3.5.1"
serde_yaml = "^0.9.30"
topological-sort = "^0.2.2"
voca_rs = "^1.15.2"
wasm-bindgen = "^0.2.90"

[dev-dependencies]
aws-config = "^1.1.4"
aws-sdk-cloudformation = "^1.13.0"
tokio = { version = "1", features = ["full"] }
walkdir = "2.4.0"
zip = "0.6.6"

[build-dependencies]
phf_codegen = "^0.11.2"
serde = { version = "^1.0.195", features = ["derive"] }
serde_json = "^1.0.111"
serde_with = "^3.5.1"
walkdir = "2.4.0"
zip = "0.6.6"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
